@import '../../variables.less';

.project-details-container {
  .flex();
  flex-direction: column;
  .containers();
  overflow-x: hidden;
  padding-bottom: 100px;
}

.project-details-info {
  .flex();
  flex-direction: column;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.projectDetails-info-wrapper {
  .flex();
  flex-direction: column;
  gap: 40px;
  padding-bottom: 50px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 70px;
  }
}

.project-description-wrapper {
  .flex();
  flex-direction: column;
  width: 100%;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 768px) {
    padding-bottom: 50px;
    min-width: 500px;
    max-width: 550px;
  }
}

.project-responsibility {
  .text();
  font-size: 34px;
  font-weight: 700;
}

.project-description-text {
  .text();
  border: 2px solid @black;
  padding: 10px;
  border-radius: 2em;
}

.project-data-wrapper {
  .flex();
  flex-direction: column;
  text-align: center;
  gap: 40px;
}

.projectData-text {
  .flex();
  flex-wrap: wrap;
  .text();
  font-size: 24px;
  font-weight: 700;
}

.project-details-gallery {
  width: 80%;
  box-sizing: border-box;
text-align: center;
  @media screen and (min-width: 768px) {
    padding-right: 40px;
    padding-left: 40px;
  }
  @media screen and (max-width: 500px) {
   width: 100%;
  }
}
.projectDetails-gallery-title{
  .text();
  font-weight: 700;
  font-size: 34px;
}
.project-details-gallery-item {
  width: 75%;
  max-height: 432px;
  border-radius: 5%;
}

.swiper-button-next,
.swiper-button-prev {
  --swiper-navigation-size: 34px;
  color: @black;
  &:hover {
    .hover();
  }
  @media screen and (min-width: 767px) {
    --swiper-navigation-size: 54px;
  }
}

.swiper-pagination-bullet {
  background-color: @black;
}
