@import '../../variables.less';
.contacts-container {
  .flex();
  flex-direction: column;
  padding-bottom: 100px;
  .containers();
  @media screen and (min-width: 769px) {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.contacts-contacts-links {
  &:hover {
    .hover();
    transform: scale(1.02);
  }
}
.contacts-contacts {
  .flex();
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 350px;
  width: 300px;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
    margin-right: 80px;
  }
}
.contacts-contacts-links {
  .flex();
  flex-direction: column;
}
.contacts-contacts-icon {
  width: 40px;
  height: 40px;
}
.contacts-contacts-text {
  .text();
  font-weight: 400;
  font-size: 24px;
}
.contacts-map {
  position: relative;
  .loader-container {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.contacts-map {
  background-color: #e0e0e0;
  height: 350px;
  width: 350px;
  border-radius: 5%;
  @media screen and (max-width: 768px) {
    max-height: 300px;
    max-width: 300px;
  }
}
.contacts-iframe-map {
  height: 350px;
  width: 350px;
  border: 0;
  border-radius: 5%;
  @media screen and (max-width: 768px) {
    max-height: 300px;
    max-width: 300px;
  }
}
