@import '../../variables.less';
.services-container {
  .flex();
  flex-direction: column;
  .containers();
  padding-bottom: 100px;
}
.service-card-container {
  .flex();
  flex-direction: column;
  .containers();
  gap: 40px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  padding-left: 30px;
  padding-right: 30px;
}
