@import '../../variables.less';
.partners-container {
  .flex();
  height: 250px;
  overflow-x: hidden;
  .containers();
  .shadow();
  background-color: #e0dfdf;
}

.partners-contacts-icon {
  gap: 10px;
}
.swiper-slide {
  .flex();
}
.partners-title {
  .text();
  font-weight: 700;
  font-size: 40px;
}
.partners-title-wrapper {
  .flex();
  background-color: #e0dfdf;
  .containers();
  .shadow();
}
