@import '../../variables.less';
.partners-container {
  .flex();
  height: 130px;
  overflow-x: hidden;
  .containers();
  margin-bottom: -4px;
  @media screen and (min-width: 768px) {
    max-width: 1170px;
  }
  @media screen and (min-width: 1440px) {
    width: 1170px;
  }
  background-color: #e0dfdf;
}

.partners-contacts-icon {
  gap: 10px;
}
.swiper-slide {
  .flex();
}
.partners-title {
  .text();
  font-weight: 700;
  font-size: 34px;
}
.partners-title-wrapper {
  .flex();
  background-color: #e0dfdf;
  .containers();
  .shadow();
  margin-bottom: -1px;
}
