@import '../../variables.less';
.scrollUp-container {
    .flex();
    justify-content: right;
    .containers();
    &.visible {
      .scrollUp-btn {
        opacity: 1;
        visibility: visible;
        
      }
    }
  }
  
  .scrollUp-btn {
    .flex(); 
    text-align: center;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    margin: 20px;
    border: 1.5px solid @black;
    width: 50px; 
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    &:hover {
      .hover();
    }
  }
 
  